.user-module {
    border: 4px solid grey;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    position: relative;
}

.user-module:hover {
    border-color: yellow;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5)
}

.user-module:active {
    box-shadow: none;
    top: 5px;
}