.recources-page .dropdown {
    text-align: center;
}

.resources-input-form {
    width: 90%;
    display: block;
    margin: 10px auto;
}

@media (min-width: 750px) {
    .resources-input-form {
        width: 50%;
    }
}